body {
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                        'nav nav nav nav'
                        'section section aside aside'
                        'footer footer footer footer';
    
    
    grid-template-rows: 20vh 15vh 50vh 30vh;
    
    
   grid-template-columns: 25% 25% 25% 25%;

}

header {
    grid-area: header;
    background: black;
    display: flex;
    justify-content: center;
}

header div {
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center; /*o justify-content serve para alinhar o conteúdo na orizontal */
    width: 60%;
  
    justify-content: space-around
    
}
header img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top: 12px;
}

nav {
    grid-area: nav;
    background: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

section {

    grid-area: section;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img {
    width: 300px;
    height: 100%;
    border-radius: 150px;


}
 aside { grid-area: aside;
    background: yellow;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 30px 30px;
}

aside p {
    color: white;
    font-display: 
}

footer {
    grid-area: footer;
    background: purple
}